@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! fonts */
@font-face {
    font-family: 'roboto';

    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf'), format('truetype');
}

@font-face {
    font-family: 'roboto-medium';

    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf'), format('truetype');
}

@font-face {
    font-family: 'archivo';

    src: url('../assets/fonts/Archivo/Archivo-Black.ttf'), format('truetype');
}

/* ! header bg */

.wrapper {
    background: -webkit-gradient(linear, left top, left bottom, from(#3b373580), to(rgba(59, 55, 53, .5))), url("../assets/images/header-bg.jpg");
    background-size: cover;
    background-position: center center;
}


/* ! scrool bar */
body::-webkit-scrollbar {
    width: 10px;
}

body::-webkit-scrollbar-track {
    background-color: transparent;
}

body::-webkit-scrollbar-thumb {
    background: #E76F51;
    border-radius: 6px;
}

/* ! ham menu */
.ham {
    cursor: pointer;
    width: 24px;
    height: 16px;
    transition: all 0.25s;
    position: relative;
}

.ham span {
    position: absolute;
    width: 24px;
    height: 2px;
    top: 0;
    left: 0;
    transform: rotate(0);
    transition: all 0.25s;
}

.dark .ham span {
    background-color: #fff;
}

.ham span:nth-child(2) {
    transform: translateY(7px);
}

.ham span:nth-child(3) {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);

}

.open span:nth-child(1) {
    transform: rotate(45deg) translateY(6px) translateX(6px);
}

.open span:nth-child(2) {
    opacity: 0;
}

.open span:nth-child(3) {
    transform: rotate(-45deg) translateY(6px) translateX(-6px);
}

.show {
    left: 0;
}

.overlay-active {
    opacity: 1;
    display: block;
}

/* ! animations */
[data-animate="animate-1"] {
    opacity: 0;
    transition: all 1s;
    transition-delay: 0.5s;
    position: relative;
    filter: blur(5px);
    transform: translate3d(100%, 0, 0)
}

.do-animate[data-animate="animate-1"] {
    opacity: 1;
    transform: translate3d(0, 0, 0);
    filter: blur(0px);
}
