@tailwind base;
@tailwind components;
@tailwind utilities;

/* ! fonts */
@font-face {
    font-family: 'roboto';

    src: url('../assets/fonts/Roboto/Roboto-Regular.ttf'), format('truetype');
}

@font-face {
    font-family: 'roboto-medium';

    src: url('../assets/fonts/Roboto/Roboto-Medium.ttf'), format('truetype');
}

@font-face {
    font-family: 'archivo';

    src: url('../assets/fonts/Archivo/Archivo-Black.ttf'), format('truetype');
}

/* ! header bg */

.wrapper {
    background-image: url('../assets/images/header-bg.jpg');
    background-size: cover;
    background-position: center center;
}